<?xml version="1.0" encoding="utf-8" ?>
<phpunit bootstrap="tests/bootstrap.php">
  <testsuites>
    <testsuite name="Covers Validator Test Suite">
      <directory suffix="Test.php">tests/</directory>
      <exclude>tests/Fixtures/</exclude>
    </testsuite>
  </testsuites>
  <filter>
    <whitelist processUncoveredFilesFromWhitelist="true">
        <directory suffix=".php">src/</directory>
    </whitelist>
  </filter>
</phpunit>
