<?xml version="1.0" encoding="utf-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" bootstrap="tests/bootstrap.php" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd" cacheDirectory=".phpunit.cache">
  <testsuites>
    <testsuite name="Covers Validator Test Suite">
      <directory suffix="Test.php">tests/</directory>
      <exclude>tests/Fixtures/</exclude>
    </testsuite>
  </testsuites>
  <source>
    <include>
      <directory suffix=".php">src/</directory>
    </include>
  </source>
</phpunit>
